@page
@model _211933M_Assn.Pages.ForgotPassword.ResetPasswordModel
@{
}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login </h1>

            <form method="post" asp-antiforgery="true">

                <div asp-validation-summary="All" class="text-danger">
                </div>
                <input asp-for="Input.Code" type="hidden" />

                <div class="mb-3">
                    <label class="form-label" asp-for="Input.Email">Email Address</label>
                    <input type="Text" asp-for="Input.Email" class="form-control" readonly />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Input.Password">New Password</label>
                    <input type="password" asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="submit" class="mb-3" value="Reset Password" />
            </form>
            <div class="text-center text-lg-start mt-4 pt-2">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}